.home-container { 
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home-image{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    object-fit: cover;
}

.home-image-container { 
    margin: 100px auto;
    padding: 50px;
}

