.home-container { 
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}

.home-container img {
    width: 20%;
    height: 20%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px auto;
}

